body.acctype-1{
	#sidebar{
		background-color:#6ea524;
		.extension{
			background-color:#6ea524;			
		}
		a{
			color: #fff;
			text-shadow: 1px 1px 2px #333;
			&:hover{
				background-color: #5c960d;
			}
		}
	}	
	.btn-primary{
		background-color: #6ea524;
		border-color:#5f9b0f;
	}
}

body.acctype-2{
}

// Investors Style
body.acctype-3{
	#sidebar{
		background-color:#fff;
		.extension{
			background-color:#fff;			
		}
		a{
			color: #333;
			font-size: 14px;
			&:hover{
				background-color: #999;
				color: #fff;
			}
		}
	}	
	.btn-primary{
		background-color: #6ea524;
		border-color:#5f9b0f;
	}
}
body.acctype-4{
	#sidebar{
		background-color:#e3b60d;
		.extension{
			background-color:#e3b60d;			
		}
		a{
			color: #333;
			&:hover{
				background-color: #fff;
			}
		}
	}	
	a{
		color: #333;
	}
	.user-avatar{
		a{
			width: 80%;
			margin: auto;
			font-weight: bold;
		}
	}
	.btn-primary{
		background-color: #e3b60d;
		border-color:#e3b60d;
	}

	#myaccount #main-buttons #btn-payment{background-color: #e3b60d; color: #333;}
}

body.acctype-5{
	#sidebar{
		background-color:#08a0d2;
		.extension{
			background-color:#08a0d2;			
		}
		a{
			color: #333;
			font-size: 14px;
			&:hover{
				color: #fff;
				background-color: rgba(0,0,0,0.2);
			}
		}
	}	
	.btn-primary{
		background-color: #08a0d2;
		border-color:#fff;
	}

	#myaccount #main-buttons #btn-payment{background-color: #e3b60d; color: #333;}
}