#messages{
	margin: auto;
	ul{
		position: relative;
	}
	#btn-compose-message{
		position: absolute;
		right: 0;
		top: 0;
	}
	#compose_message_modal{
		.modal-dialog{
			width:350px;
		}
	}
}