#dashboard{
	margin-top:30px;
	line-height: 1.7;
	h1, h2, h3, h4{margin-top: 0; margin-bottom: 20px;}
	.content{
		background: #fff;
		padding: 20px;
		.section{
			ul{
				margin-left: 20px;
			}
		}
	}
	.side{
		padding: 20px;
		position: relative;
		.section{
			font-size: 13px;
		}
	}
	#top{
		.content{
			.row{
				text-align: center;
				.value{font-size: 30px; font-weight: bold;}				
			}
		}
		.side{
			@include border-radius(10px);	
			top: -20px;
			background: #ccc;
			a{
				width:80%;
				margin: auto;
				display: block;
			}
		}
	}
	.comingsoon{
		font-size: 14px;
		color: #aaa;
		text-shadow:1px 1px 1px #fff;
		font-weight: bold;
		text-align: center;
		height: 100px;
		line-height: 100px;
		background: #eee;
		border:1px solid #fff;
	}
	.section{
		margin: 20px;
		
	}
	#slideshow-section{
		margin: 20px;
		position: relative;
		*{
			width:100%;
		}
	}
	#newsupdates-section{
		.entry{
			border-bottom: 1px solid #fff;
			box-shadow: 0px 1px 0px #ccc;
			margin-bottom: 10px;
			padding-bottom:10px; 
		}
	}
	#note-section{
		padding-top: 30px;
		border-top: 3px solid #eee;
		margin-top: 30px;
	}
}