#welcome{
	text-align: center;
	background: no-repeat center 98px rgba(237, 233, 223, 0.8);
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	opacity: 1;
	div{
		position: fixed;
		top: 130px;
		left: 50%;
		margin-left: -149px;
		h1{
			font-size: 50px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}