#myaccount{
	margin: auto;
	position: relative;
	#main-buttons{
		text-align: center;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
		padding-bottom: 10px;
		display: inline-block;
		#btn-payment{
			background-color: #1a56a5;
			color: #fff;
		}
	}
	.wrapper{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 800px;
	}
	#personal-info-cont{
		position: absolute;
		left: -120%;
		width:100%;
		&.active{
			left: 0;
		}
	}
	#security-cont{
		position: absolute;
		right: -120%;
		top: 0;
		width: 100%;
		&.active{
			right: 0;
		}
	}
	#activation-cont{
		position: absolute;
		right: -120%;
		top: 0;
		width: 100%;
		text-align: center;
		padding-top: 30px;
		&.active{
			right: 0;
		}
		table{
			width: 50%;
			margin: auto;
		}
		h2{
			text-transform: uppercase;
			color: green;
			font-weight: 900;
			&.inactive{
				color: red;
			}
		}
	}
	#payment-cont{
		position: absolute;
		right: -95%;
		top: 0;
		width: 100%;
		text-align: center;
		#tblpaymenttrans{
			background: #fff;
			width: 80%;
			margin: 10px auto 20px;
			small{
				display: block;	
			}
			.onprocess{
				strong{
					color: green;
				}
			}
		}
		#steps{
			text-align: left;
			width: 55%;
			margin: 20px auto;
			padding: 10px;
			background: rgba(255,255,255,0.8);
			.step {
				display: none;
				&#step1{display: block;}
				h3 {
					background: #13478b;
					padding: 10px;
					color: #fff;
					font-size: 16px;
					text-align: left;
					font-weight: bold;
				}
				&#step4{
					div{
						display: none;
					}
				}
				&#step5{
					.bank, .wire{display: none;}
				}
				&#step6{
					text-align: center;
					#payment_picture_proof_prev {
						max-height: 250px;
						margin-top: 10px;
					}
				}
			}
		}
		&.active{
			right: 0;
		}
	}
	.user-avatar{
		text-align: center;
		background: #eee;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		@include border-radius(10px);
		h3{
			margin: 0;
		}
		img{
			margin: 10px;
			&.sponsor_avatar{
				width: 50%;
			}
		}
		.sponsor-info{
			*{
				display: block;
			}
		}	
	}
	#btn-submit{
		width: 80%;
		font-size: 30px;
		margin: 20px auto;
		display: block;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}

// effect
#myaccount{
	.contents{
		transition:all 0.7s linear;
		opacity: 0;
		&.active{
			opacity:1;
		}
	}

}