#support{
	width:80%;
	height: 100%;
	margin: auto !important;
	position: relative !important;

	h4{
		font-weight: 700;
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 30px;
	}
	form{
		background: #fff;
		padding: 15px 30px;
		/* max-width: 470px; */
		margin-bottom: 20px;
	}
	textarea.form-control{
		min-height: 200px;
	}
}