#profile-wrapper{
	#profile{
		background: #fefefe;
		@include border-radius(6px);
		border:1px solid #bbb;
		box-shadow: 1px 1px 1px #aaa;
		width:70%;
		margin: 20px auto;
		padding: 20px;
		.top{
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
			#user-details {
				img{
					width:200px;
					@include border-radius(7px);
					border: 5px solid #fff;
					box-shadow: 0px 1px 4px #333;
					margin-bottom: 20px;
				}

			}
			#network{
				margin-left: 20px;
				float: left;
				#user-name{
					margin-top: 0;
				}
				hr{
					margin: 12px 0 ;
				}
				.avatar{
					float:left;
					background: #fff;
					border:1px solid #aaa;
					padding: 10px;
					margin-right: 10px;
					.ribbon{
						display: block;
						text-align: center;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 11px;
					}
				}
			}
		}
		.below{
			.sidebar{
				border-right: 1px solid #ccc;
				float: left;
				width: 200px;
				margin-right: 20px;
			}
			.content{
				float: left;
				width: 550px;
				#comments{
					.comment{
						.comment-meta{				
							margin-bottom: 10px;			
							.comment-avatar{
								@include border-radius(50%);
								overflow: hidden;
								margin-right: 10px;
								float: left;
							}
							.comment-name{
								font-weight: bold;
								margin-right: 30px;
							}
							.comment-date{
								color:#aaa;
								font-size: 13px;
							}
						}
						.comment-body{
							border-top:1px solid #ccc;
							margin-left: 80px;
							*{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
