/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/* line 9, ../../../web/scss/assets/_datepicker.scss */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/ }

/* line 22, ../../../web/scss/assets/_datepicker.scss */
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px; }

/* line 33, ../../../web/scss/assets/_datepicker.scss */
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px; }

/* line 43, ../../../web/scss/assets/_datepicker.scss */
.datepicker > div {
  display: none; }

/* line 46, ../../../web/scss/assets/_datepicker.scss */
.datepicker table {
  width: 100%;
  margin: 0; }

/* line 50, ../../../web/scss/assets/_datepicker.scss */
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 59, ../../../web/scss/assets/_datepicker.scss */
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer; }

/* line 63, ../../../web/scss/assets/_datepicker.scss */
.datepicker td.day.disabled {
  color: #eeeeee; }

/* line 66, ../../../web/scss/assets/_datepicker.scss */
.datepicker td.old,
.datepicker td.new {
  color: #999999; }

/* line 70, ../../../web/scss/assets/_datepicker.scss */
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 90, ../../../web/scss/assets/_datepicker.scss */
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3; }

/* line 106, ../../../web/scss/assets/_datepicker.scss */
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9; }

/* line 112, ../../../web/scss/assets/_datepicker.scss */
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 124, ../../../web/scss/assets/_datepicker.scss */
.datepicker td span:hover {
  background: #eeeeee; }

/* line 127, ../../../web/scss/assets/_datepicker.scss */
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 146, ../../../web/scss/assets/_datepicker.scss */
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3; }

/* line 156, ../../../web/scss/assets/_datepicker.scss */
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9; }

/* line 160, ../../../web/scss/assets/_datepicker.scss */
.datepicker td span.old {
  color: #999999; }

/* line 163, ../../../web/scss/assets/_datepicker.scss */
.datepicker th.switch {
  width: 145px; }

/* line 166, ../../../web/scss/assets/_datepicker.scss */
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px; }

/* line 170, ../../../web/scss/assets/_datepicker.scss */
.datepicker thead tr:first-child th {
  cursor: pointer; }

/* line 173, ../../../web/scss/assets/_datepicker.scss */
.datepicker thead tr:first-child th:hover {
  background: #eeeeee; }

/* line 176, ../../../web/scss/assets/_datepicker.scss */
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px; }

/* line 20, ../../../web/scss/assets/_variables.scss */
.center {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 21, ../../../web/scss/assets/_variables.scss */
.vcenter {
  display: flex;
  align-items: center; }

/* line 1, ../../../web/scss/assets/_admin-generals.scss */
html, body {
  height: 100%; }

/* line 2, ../../../web/scss/assets/_admin-generals.scss */
.main {
  float: left;
  width: 80%;
  padding: 20px;
  margin-left: 20px;
  min-height: 400px;
  margin: auto; }

/* line 10, ../../../web/scss/assets/_admin-generals.scss */
body {
  background: #eeeeee url(../img/bg.jpg);
  font-family: 'Lato', sans-serif;
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased; }

/* line 19, ../../../web/scss/assets/_admin-generals.scss */
hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff; }

/* line 23, ../../../web/scss/assets/_admin-generals.scss */
form {
  overflow: hidden; }
  /* line 26, ../../../web/scss/assets/_admin-generals.scss */
  form label {
    font-size: 16px; }
  /* line 29, ../../../web/scss/assets/_admin-generals.scss */
  form .btn {
    font-weight: 700; }
  @media (min-width: 768px) {
    /* line 33, ../../../web/scss/assets/_admin-generals.scss */
    form .col-sm-2 {
      width: 10.666667%; } }

/* line 38, ../../../web/scss/assets/_admin-generals.scss */
input, textarea {
  -webkit-font-smoothing: antialiased;
  width: 100%; }
  /* line 42, ../../../web/scss/assets/_admin-generals.scss */
  input.form-control, textarea.form-control {
    border-color: #dcdcdc;
    position: relative;
    z-index: 1;
    border: 1px solid #aaa;
    padding: 10px !important;
    font-size: 17px; }

/* line 51, ../../../web/scss/assets/_admin-generals.scss */
.btn-toggle {
  float: left;
  background: #cfcfcf;
  width: 220px;
  height: 50px;
  font-size: 19px;
  color: #333; }
  /* line 58, ../../../web/scss/assets/_admin-generals.scss */
  .btn-toggle.active {
    background: #fff;
    position: relative; }
    /* line 62, ../../../web/scss/assets/_admin-generals.scss */
    .btn-toggle.active:first-child:after {
      content: ' ';
      background: url(../img/button-shadow.png) no-repeat;
      width: 11px;
      height: 50px;
      position: absolute;
      right: -11px;
      top: 0; }
    /* line 73, ../../../web/scss/assets/_admin-generals.scss */
    .btn-toggle.active:last-child:before {
      content: ' ';
      -ms-transform: rotate(7deg);
      /* IE 9 */
      -webkit-transform: rotate(7deg);
      /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      background: url(../img/button-shadow.png) no-repeat;
      width: 11px;
      height: 50px;
      position: absolute;
      left: -11px;
      top: 0; }
  /* line 87, ../../../web/scss/assets/_admin-generals.scss */
  .btn-toggle:hover {
    text-decoration: none; }
  /* line 90, ../../../web/scss/assets/_admin-generals.scss */
  .btn-toggle .fa {
    margin-right: 12px; }

/* line 95, ../../../web/scss/assets/_admin-generals.scss */
.bg2 {
  background-color: #1abc9c;
  display: block; }

/* line 99, ../../../web/scss/assets/_admin-generals.scss */
.modal-backdrop.in {
  opacity: .7; }

/* line 100, ../../../web/scss/assets/_admin-generals.scss */
.modal {
  display: none; }

/* line 101, ../../../web/scss/assets/_admin-generals.scss */
#loader_modal .modal-dialog {
  width: 70px;
  height: 100%; }

/* line 105, ../../../web/scss/assets/_admin-generals.scss */
#loader_modal .modal-dialog img {
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px; }

/* line 114, ../../../web/scss/assets/_admin-generals.scss */
.tobehind {
  z-index: 10; }

/* line 116, ../../../web/scss/assets/_admin-generals.scss */
input.disabled,
select.disabled,
textarea.disabled {
  background: #EEEEEE;
  cursor: not-allowed; }

/* line 123, ../../../web/scss/assets/_admin-generals.scss */
.modal-body {
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  margin: 10px auto 40px; }

/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:73775db11f72cd41e0e1b532b03ff4e2:8e9c327ef4df75ada8eee01ef9c9bd97:2b0e1088fe4765f12231edf40730b031$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
/* line 13, ../../../web/scss/assets/_admin-sprites.scss */
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../img/admin-sprites.png"); }

/* line 15, ../../../web/scss/assets/_admin-sprites.scss */
.avatar-default {
  width: 106px;
  height: 112px;
  background-position: -2px -73px; }

/* line 16, ../../../web/scss/assets/_admin-sprites.scss */
.avatar-default-sm {
  width: 65px;
  height: 69px;
  background-position: -2px -2px; }

/* line 17, ../../../web/scss/assets/_admin-sprites.scss */
.blue-arrow {
  width: 20px;
  height: 13px;
  background-position: -2px -187px; }

/* line 18, ../../../web/scss/assets/_admin-sprites.scss */
.blue-circle-small {
  width: 15px;
  height: 15px;
  background-position: -24px -187px; }

/* line 19, ../../../web/scss/assets/_admin-sprites.scss */
.blue-collar-small {
  width: 8px;
  height: 20px;
  background-position: -41px -187px; }

/* line 20, ../../../web/scss/assets/_admin-sprites.scss */
.grey-collar-small {
  width: 8px;
  height: 20px;
  background-position: -51px -187px; }

/* line 21, ../../../web/scss/assets/_admin-sprites.scss */
.orange-circle-small {
  width: 15px;
  height: 15px;
  background-position: -61px -187px; }

/* line 22, ../../../web/scss/assets/_admin-sprites.scss */
.red-arrow {
  width: 20px;
  height: 13px;
  background-position: -78px -187px; }

/* line 23, ../../../web/scss/assets/_admin-sprites.scss */
.yellow-collar-small {
  width: 8px;
  height: 20px;
  background-position: -100px -187px; }

/* line 1, ../../../web/scss/pages/_admin-dashboard.scss */
#dashboard {
  margin-top: 30px;
  line-height: 1.7; }
  /* line 4, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard h1, #dashboard h2, #dashboard h3, #dashboard h4 {
    margin-top: 0;
    margin-bottom: 20px; }
  /* line 5, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard .content {
    background: #fff;
    padding: 20px; }
    /* line 9, ../../../web/scss/pages/_admin-dashboard.scss */
    #dashboard .content .section ul {
      margin-left: 20px; }
  /* line 14, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard .side {
    padding: 20px;
    position: relative; }
    /* line 17, ../../../web/scss/pages/_admin-dashboard.scss */
    #dashboard .side .section {
      font-size: 13px; }
  /* line 23, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard #top .content .row {
    text-align: center; }
    /* line 25, ../../../web/scss/pages/_admin-dashboard.scss */
    #dashboard #top .content .row .value {
      font-size: 30px;
      font-weight: bold; }
  /* line 28, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard #top .side {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: -20px;
    background: #ccc; }
    /* line 32, ../../../web/scss/pages/_admin-dashboard.scss */
    #dashboard #top .side a {
      width: 80%;
      margin: auto;
      display: block; }
  /* line 39, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard .comingsoon {
    font-size: 14px;
    color: #aaa;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    text-align: center;
    height: 100px;
    line-height: 100px;
    background: #eee;
    border: 1px solid #fff; }
  /* line 50, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard .section {
    margin: 20px; }
  /* line 54, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard #slideshow-section {
    margin: 20px;
    position: relative; }
    /* line 57, ../../../web/scss/pages/_admin-dashboard.scss */
    #dashboard #slideshow-section * {
      width: 100%; }
  /* line 62, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard #newsupdates-section .entry {
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1px 0px #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  /* line 69, ../../../web/scss/pages/_admin-dashboard.scss */
  #dashboard #note-section {
    padding-top: 30px;
    border-top: 3px solid #eee;
    margin-top: 30px; }

/* line 1, ../../../web/scss/pages/_admin-geneology.scss */
#geneology {
  position: relative;
  overflow: hidden;
  height: 1000px; }
  /* line 5, ../../../web/scss/pages/_admin-geneology.scss */
  #geneology #geneology-mode {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden; }
  /* line 9, ../../../web/scss/pages/_admin-geneology.scss */
  #geneology #graphical {
    top: 20px;
    position: relative; }
    /* line 12, ../../../web/scss/pages/_admin-geneology.scss */
    #geneology #graphical #graphical-data {
      z-index: 1;
      position: relative;
      width: 900px;
      float: left; }
      /* line 17, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #graphical-data .user {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
        height: 125px;
        width: 125px;
        margin: auto;
        background: #B7B7B7;
        transition: all 0.2s linear;
        overflow: hidden;
        display: inline-block;
        border: 6px solid transparent;
        position: relative; }
        /* line 29, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user > a {
          position: absolute;
          width: 100%;
          height: 100%; }
        /* line 34, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user.referral-direct {
          border-color: #00a8ff; }
        /* line 37, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user.referral-indirect {
          border-color: #FF9600; }
        /* line 40, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user:hover {
          border-color: #fff;
          position: inherit; }
          /* line 43, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .user:hover .popup-control {
            z-index: 2;
            opacity: 1;
            margin-left: -90px;
            left: auto;
            top: 10px;
            background: #fff;
            padding: 10px;
            font-size: 12px;
            text-align: center; }
          /* line 54, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .user:hover .premier-filter {
            opacity: 0; }
          /* line 57, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .user:hover i {
            display: none; }
        /* line 61, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user.blank {
          cursor: default; }
          /* line 64, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .user.blank:hover * {
            display: none !important; }
          /* line 68, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .user.blank .sprite {
            background: none; }
        /* line 72, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user i {
          position: absolute;
          top: 0;
          left: 0; }
        /* line 78, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .premier-filter {
          background: rgba(19, 71, 139, 0.6);
          height: 113px;
          width: 112px;
          margin: auto;
          position: relative;
          display: block;
          z-index: 2;
          top: -18px;
          transition: all 0.2s linear;
          left: -4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        /* line 91, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .basic-filter {
          background: rgba(110, 165, 36, 0.6);
          height: 113px;
          width: 112px;
          margin: auto;
          position: relative;
          display: block;
          z-index: 2;
          top: -18px;
          transition: all 0.2s linear;
          left: -4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        /* line 104, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .silver-filter {
          background: rgba(255, 255, 255, 0.6);
          height: 113px;
          width: 112px;
          margin: auto;
          position: relative;
          display: block;
          z-index: 2;
          top: -18px;
          transition: all 0.2s linear;
          left: -4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        /* line 117, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .gold-filter {
          background: rgba(227, 182, 13, 0.6);
          height: 113px;
          width: 112px;
          margin: auto;
          position: relative;
          display: block;
          z-index: 2;
          top: -18px;
          transition: all 0.2s linear;
          left: -4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        /* line 130, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .diamond-filter {
          background: rgba(8, 160, 210, 0.6);
          height: 113px;
          width: 112px;
          margin: auto;
          position: relative;
          display: block;
          z-index: 2;
          top: -18px;
          transition: all 0.2s linear;
          left: -4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        /* line 143, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .admin-filter {
          background: rgba(255, 165, 0, 0.6);
          height: 113px;
          width: 112px;
          margin: auto;
          position: relative;
          display: block;
          z-index: 2;
          top: -18px;
          transition: all 0.2s linear;
          left: -4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        /* line 156, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user ._01-filter {
          background: rgba(128, 0, 128, 0.6);
          height: 113px;
          width: 112px;
          margin: auto;
          position: relative;
          display: block;
          z-index: 2;
          top: -18px;
          transition: all 0.2s linear;
          left: -4px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        /* line 169, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .sprite {
          vertical-align: bottom;
          left: 0px;
          bottom: -20px;
          position: relative;
          overflow: visible; }
        /* line 176, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .popup-control {
          z-index: -1;
          transition: all 0.2s linear;
          opacity: 0;
          position: absolute;
          left: -30px;
          text-align: right;
          top: 0; }
          /* line 184, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .user .popup-control a {
            display: block;
            margin: 10px 0; }
        /* line 189, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .user .avatar-default-sm .premier-filter {
          width: 73px;
          height: 73px;
          top: -20px; }
      /* line 195, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #graphical-data .stage {
        text-align: center; }
        /* line 197, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage .left, #geneology #graphical #graphical-data .stage .right {
          display: inline-block;
          margin: 30px 0px; }
        /* line 201, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage .connector {
          width: 100%; }
          /* line 209, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage .connector .left, #geneology #graphical #graphical-data .stage .connector .right {
            margin: 0;
            padding: 30px 0px; }
          /* line 213, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage .connector span {
            position: absolute; }
          /* line 216, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage .connector .l1, #geneology #graphical #graphical-data .stage .connector .l3 {
            width: 1px;
            border-left: 1px solid #cecece;
            top: 0; }
          /* line 221, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage .connector .l2 {
            height: 1px;
            border-top: 1px solid #cecece; }
        /* line 227, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-1 > .user {
          border-color: #88c7ff; }
          /* line 230, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-1 > .user i span {
            top: 0 !important;
            left: 0 !important; }
        /* line 236, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-1 .connector {
          position: absolute; }
          /* line 238, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-1 .connector .left {
            position: relative; }
            /* line 240, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-1 .connector .left .l1 {
              height: 20px;
              right: 0; }
            /* line 244, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-1 .connector .left .l2 {
              width: 210px;
              top: 20px;
              right: 0; }
            /* line 249, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-1 .connector .left .l3 {
              height: 10px;
              right: 210px;
              top: 20px; }
          /* line 255, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-1 .connector .right {
            position: relative; }
            /* line 257, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-1 .connector .right .l1 {
              height: 20px;
              left: 0; }
            /* line 261, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-1 .connector .right .l2 {
              width: 210px;
              top: 20px;
              left: 0; }
            /* line 266, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-1 .connector .right .l3 {
              height: 10px;
              left: 210px;
              top: 20px; }
        /* line 274, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-2 {
          color: red; }
          /* line 279, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-2 > .left > .user > i > span, #geneology #graphical #graphical-data .stage.stage-2 > .right > .user > i > span {
            top: 2px;
            left: -2px; }
          /* line 286, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-2 .popup-control {
            top: 170px; }
          /* line 289, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-2 .connector {
            position: absolute;
            margin-left: -240px; }
            /* line 292, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-2 .connector .left {
              position: relative; }
              /* line 294, ../../../web/scss/pages/_admin-geneology.scss */
              #geneology #graphical #graphical-data .stage.stage-2 .connector .left .l1 {
                height: 11px;
                right: 0; }
              /* line 298, ../../../web/scss/pages/_admin-geneology.scss */
              #geneology #graphical #graphical-data .stage.stage-2 .connector .left .l2 {
                width: 100px;
                top: 10px;
                right: 0; }
              /* line 303, ../../../web/scss/pages/_admin-geneology.scss */
              #geneology #graphical #graphical-data .stage.stage-2 .connector .left .l3 {
                height: 20px;
                right: 100px;
                top: 10px; }
            /* line 309, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-2 .connector .right {
              position: relative; }
              /* line 311, ../../../web/scss/pages/_admin-geneology.scss */
              #geneology #graphical #graphical-data .stage.stage-2 .connector .right .l1 {
                height: 11px;
                left: 0; }
              /* line 315, ../../../web/scss/pages/_admin-geneology.scss */
              #geneology #graphical #graphical-data .stage.stage-2 .connector .right .l2 {
                width: 100px;
                top: 10px;
                left: 0; }
              /* line 320, ../../../web/scss/pages/_admin-geneology.scss */
              #geneology #graphical #graphical-data .stage.stage-2 .connector .right .l3 {
                height: 20px;
                left: 100px;
                top: 10px; }
        /* line 329, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-3 img {
          display: none; }
        /* line 332, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-3 .avatar-default-sm {
          display: block !important;
          margin-left: 3px; }
        /* line 336, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-3 .user {
          position: static;
          width: 84px;
          height: 84px; }
        /* line 341, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-3 .left, #geneology #graphical #graphical-data .stage.stage-3 .right {
          position: relative;
          margin: 30px 0px; }
        /* line 345, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-3 .premier-filter {
          top: 0px;
          left: -3px; }
        /* line 349, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-3 .popup-control {
          top: 0px;
          left: -40px;
          margin-left: 0; }
        /* line 354, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-3 .connector {
          position: absolute;
          margin-left: 0; }
          /* line 357, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-3 .connector .left {
            margin: 0;
            position: relative; }
            /* line 360, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-3 .connector .left .l1 {
              height: 11px;
              right: 0; }
            /* line 364, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-3 .connector .left .l2 {
              width: 50px;
              top: 10px;
              right: 0; }
            /* line 369, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-3 .connector .left .l3 {
              height: 20px;
              right: 50px;
              top: 10px; }
          /* line 375, ../../../web/scss/pages/_admin-geneology.scss */
          #geneology #graphical #graphical-data .stage.stage-3 .connector .right {
            margin: 0;
            position: relative; }
            /* line 378, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-3 .connector .right .l1 {
              height: 11px;
              left: 0; }
            /* line 382, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-3 .connector .right .l2 {
              width: 50px;
              top: 10px;
              left: 0; }
            /* line 387, ../../../web/scss/pages/_admin-geneology.scss */
            #geneology #graphical #graphical-data .stage.stage-3 .connector .right .l3 {
              height: 20px;
              left: 50px;
              top: 10px; }
        /* line 396, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-4 .left, #geneology #graphical #graphical-data .stage.stage-4 .right {
          margin: 30px 10px; }
        /* line 399, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #graphical-data .stage.stage-4 .popup-control {
          left: 80px;
          margin-left: 0; }
    /* line 406, ../../../web/scss/pages/_admin-geneology.scss */
    #geneology #graphical #legend {
      color: #fff;
      background: rgba(247, 0, 66, 0.5);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      font-size: 14px;
      z-index: 2; }
      /* line 415, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .sprite {
        position: absolute;
        left: -20px; }
      /* line 419, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend strong {
        text-transform: uppercase;
        font-size: 15px; }
      /* line 423, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend li {
        list-style: none;
        position: relative;
        padding: 6px; }
        /* line 427, ../../../web/scss/pages/_admin-geneology.scss */
        #geneology #graphical #legend li span {
          width: 20px;
          height: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          left: -20px;
          position: absolute;
          border: 3px solid #fff; }
      /* line 436, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend ul {
        margin-left: 20px;
        margin-bottom: 0;
        padding-left: 0; }
      /* line 441, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .basic span {
        background: rgba(110, 165, 36, 0.6); }
      /* line 444, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .premier span {
        background: rgba(19, 71, 139, 0.6); }
      /* line 447, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .silver span {
        background: rgba(255, 255, 255, 0.6); }
      /* line 450, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .gold span {
        background: rgba(227, 182, 13, 0.6); }
      /* line 453, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .diamond span {
        background: rgba(8, 160, 210, 0.6); }
      /* line 456, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .direct span {
        border-color: #00a8ff;
        background: transparent; }
      /* line 460, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #graphical #legend .indirect span {
        border-color: #FF9600;
        background: transparent; }
  /* line 466, ../../../web/scss/pages/_admin-geneology.scss */
  #geneology #textual {
    top: 100px; }
    /* line 468, ../../../web/scss/pages/_admin-geneology.scss */
    #geneology #textual .buttons {
      margin-bottom: 20px; }
    /* line 471, ../../../web/scss/pages/_admin-geneology.scss */
    #geneology #textual #textual-data {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 13px;
      border: 1px solid #ccc;
      background: #fff; }
    /* line 477, ../../../web/scss/pages/_admin-geneology.scss */
    #geneology #textual .acc-type {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 3px solid #fff;
      display: block; }
      /* line 483, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #textual .acc-type.basic {
        background: rgba(110, 165, 36, 0.6); }
      /* line 486, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #textual .acc-type.premier {
        background: rgba(19, 71, 139, 0.6); }
      /* line 489, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #textual .acc-type.silver {
        background: rgba(255, 255, 255, 0.6);
        border-color: #999; }
      /* line 493, ../../../web/scss/pages/_admin-geneology.scss */
      #geneology #textual .acc-type.gold {
        background: rgba(227, 182, 13, 0.6); }

/* line 504, ../../../web/scss/pages/_admin-geneology.scss */
#geneology * {
  transition: all 0.7s linear; }
/* line 505, ../../../web/scss/pages/_admin-geneology.scss */
#geneology #graphical {
  opacity: 0;
  width: 100%;
  top: 20px;
  left: -110%; }
  /* line 510, ../../../web/scss/pages/_admin-geneology.scss */
  #geneology #graphical.active {
    opacity: 1;
    left: 0%; }
/* line 515, ../../../web/scss/pages/_admin-geneology.scss */
#geneology #textual {
  position: absolute;
  opacity: 0;
  width: 98%;
  right: -100%; }
  /* line 520, ../../../web/scss/pages/_admin-geneology.scss */
  #geneology #textual.active {
    opacity: 1;
    right: 0%; }

/* line 1, ../../../web/scss/pages/_admin-ewallet.scss */
#ewallet {
  margin-top: 30px;
  line-height: 1.7; }
  /* line 4, ../../../web/scss/pages/_admin-ewallet.scss */
  #ewallet h1, #ewallet h2, #ewallet h3, #ewallet h4 {
    margin-top: 0;
    margin-bottom: 20px; }
  /* line 5, ../../../web/scss/pages/_admin-ewallet.scss */
  #ewallet .content {
    background: #fff;
    padding: 20px; }
    /* line 8, ../../../web/scss/pages/_admin-ewallet.scss */
    #ewallet .content .row {
      text-align: center; }
      /* line 10, ../../../web/scss/pages/_admin-ewallet.scss */
      #ewallet .content .row a {
        padding: 20px;
        width: 150px; }
        /* line 13, ../../../web/scss/pages/_admin-ewallet.scss */
        #ewallet .content .row a .fa {
          font-size: 40px;
          margin-bottom: 20px;
          display: block; }
  /* line 21, ../../../web/scss/pages/_admin-ewallet.scss */
  #ewallet .side {
    padding: 20px;
    position: relative; }
    /* line 24, ../../../web/scss/pages/_admin-ewallet.scss */
    #ewallet .side .section {
      font-size: 13px; }
  /* line 32, ../../../web/scss/pages/_admin-ewallet.scss */
  #ewallet #top .side {
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: -20px;
    background: #ccc; }
    /* line 38, ../../../web/scss/pages/_admin-ewallet.scss */
    #ewallet #top .side .row .value {
      font-size: 30px;
      font-weight: bold; }
  /* line 42, ../../../web/scss/pages/_admin-ewallet.scss */
  #ewallet #transact-form {
    width: 400px;
    position: relative;
    height: 400px;
    overflow: hidden; }
    /* line 47, ../../../web/scss/pages/_admin-ewallet.scss */
    #ewallet #transact-form .tform {
      position: absolute;
      top: 0;
      background: #fff;
      width: 100%;
      opacity: 0;
      z-index: 1;
      transition: all 0.3s linear;
      padding: 20px; }
      /* line 56, ../../../web/scss/pages/_admin-ewallet.scss */
      #ewallet #transact-form .tform#step1 {
        opacity: 0;
        z-index: 1;
        top: 100px; }
        /* line 60, ../../../web/scss/pages/_admin-ewallet.scss */
        #ewallet #transact-form .tform#step1.active {
          opacity: 1;
          z-index: 2;
          top: 0; }
        /* line 65, ../../../web/scss/pages/_admin-ewallet.scss */
        #ewallet #transact-form .tform#step1 .btn {
          display: block;
          text-align: left;
          margin: 20px;
          font-family: 'Lato', sans-serif;
          font-weight: 900;
          text-transform: uppercase; }
          /* line 70, ../../../web/scss/pages/_admin-ewallet.scss */
          #ewallet #transact-form .tform#step1 .btn .fa {
            width: 30px;
            text-align: center;
            margin-right: 20px; }
      /* line 77, ../../../web/scss/pages/_admin-ewallet.scss */
      #ewallet #transact-form .tform#step2-a {
        top: -100px; }
        /* line 79, ../../../web/scss/pages/_admin-ewallet.scss */
        #ewallet #transact-form .tform#step2-a.active {
          opacity: 1;
          top: 0;
          z-index: 2; }
      /* line 85, ../../../web/scss/pages/_admin-ewallet.scss */
      #ewallet #transact-form .tform#step2-b {
        left: -100px; }
        /* line 87, ../../../web/scss/pages/_admin-ewallet.scss */
        #ewallet #transact-form .tform#step2-b.active {
          opacity: 1;
          left: 0;
          z-index: 2; }
      /* line 93, ../../../web/scss/pages/_admin-ewallet.scss */
      #ewallet #transact-form .tform#step2-c {
        right: -100px; }
        /* line 95, ../../../web/scss/pages/_admin-ewallet.scss */
        #ewallet #transact-form .tform#step2-c.active {
          opacity: 1;
          right: 0;
          z-index: 2; }
  /* line 103, ../../../web/scss/pages/_admin-ewallet.scss */
  #ewallet #balance-summary {
    width: 400px; }

/* line 110, ../../../web/scss/pages/_admin-ewallet.scss */
#ewallet_widthraw .modal-body,
#ewallet_upgrade .modal-body,
#ewallet_add_account .modal-body {
  text-align: left; }

/* line 1, ../../../web/scss/pages/_admin-jobs.scss */
#jobs {
  text-align: center; }

/* line 5, ../../../web/scss/pages/_admin-jobs.scss */
#job_detail_modal .modal-body {
  text-align: left; }

/* line 1, ../../../web/scss/pages/_admin-library.scss */
#library {
  width: 800px; }
  /* line 3, ../../../web/scss/pages/_admin-library.scss */
  #library #menu {
    background: #fff;
    text-align: center;
    width: 710px;
    margin: auto;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; }
    /* line 12, ../../../web/scss/pages/_admin-library.scss */
    #library #menu > ul > li > a {
      font-size: 14px;
      text-align: center;
      padding: 15px 36px;
      border-left: 1px solid #ddd; }
    /* line 19, ../../../web/scss/pages/_admin-library.scss */
    #library #menu > ul > li:first-child > a {
      border-left: none; }
  /* line 27, ../../../web/scss/pages/_admin-library.scss */
  #library .contents {
    width: 710px;
    margin: 20px auto; }
    /* line 30, ../../../web/scss/pages/_admin-library.scss */
    #library .contents .item {
      display: inline-block;
      margin: 10px;
      position: relative;
      background-color: transparent; }
      /* line 35, ../../../web/scss/pages/_admin-library.scss */
      #library .contents .item a {
        position: absolute;
        width: 100%;
        transition: all 0.2s linear;
        height: 100%;
        background-color: transparent; }
        /* line 41, ../../../web/scss/pages/_admin-library.scss */
        #library .contents .item a:hover {
          background-color: rgba(128, 0, 0, 0.8); }
      /* line 46, ../../../web/scss/pages/_admin-library.scss */
      #library .contents .item .favorite {
        position: absolute;
        width: 25px;
        height: 60px;
        background: rgba(255, 165, 0, 0.9);
        right: 0;
        text-align: center;
        color: #fff; }

/* line 59, ../../../web/scss/pages/_admin-library.scss */
#product_detail_modal .product-image {
  float: left;
  margin-right: 10px; }
/* line 63, ../../../web/scss/pages/_admin-library.scss */
#product_detail_modal .product-description {
  text-align: left; }
  /* line 65, ../../../web/scss/pages/_admin-library.scss */
  #product_detail_modal .product-description h3 {
    margin-top: 0;
    margin-bottom: 20px; }
  /* line 69, ../../../web/scss/pages/_admin-library.scss */
  #product_detail_modal .product-description p {
    line-height: 1.7;
    margin-bottom: 20px; }

/* line 75, ../../../web/scss/pages/_admin-library.scss */
#category_submodal .modal-body {
  text-align: left; }

/* line 1, ../../../web/scss/pages/_admin-myaccount.scss */
#myaccount {
  margin: auto;
  position: relative; }
  /* line 4, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount #main-buttons {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-block; }
    /* line 10, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #main-buttons #btn-payment {
      background-color: #1a56a5;
      color: #fff; }
  /* line 15, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount .wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px; }
  /* line 21, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount #personal-info-cont {
    position: absolute;
    left: -120%;
    width: 100%; }
    /* line 25, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #personal-info-cont.active {
      left: 0; }
  /* line 29, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount #security-cont {
    position: absolute;
    right: -120%;
    top: 0;
    width: 100%; }
    /* line 34, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #security-cont.active {
      right: 0; }
  /* line 38, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount #activation-cont {
    position: absolute;
    right: -120%;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: 30px; }
    /* line 45, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #activation-cont.active {
      right: 0; }
    /* line 48, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #activation-cont table {
      width: 50%;
      margin: auto; }
    /* line 52, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #activation-cont h2 {
      text-transform: uppercase;
      color: green;
      font-weight: 900; }
      /* line 56, ../../../web/scss/pages/_admin-myaccount.scss */
      #myaccount #activation-cont h2.inactive {
        color: red; }
  /* line 61, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount #payment-cont {
    position: absolute;
    right: -95%;
    top: 0;
    width: 100%;
    text-align: center; }
    /* line 67, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #payment-cont #tblpaymenttrans {
      background: #fff;
      width: 80%;
      margin: 10px auto 20px; }
      /* line 71, ../../../web/scss/pages/_admin-myaccount.scss */
      #myaccount #payment-cont #tblpaymenttrans small {
        display: block; }
      /* line 75, ../../../web/scss/pages/_admin-myaccount.scss */
      #myaccount #payment-cont #tblpaymenttrans .onprocess strong {
        color: green; }
    /* line 80, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #payment-cont #steps {
      text-align: left;
      width: 55%;
      margin: 20px auto;
      padding: 10px;
      background: rgba(255, 255, 255, 0.8); }
      /* line 86, ../../../web/scss/pages/_admin-myaccount.scss */
      #myaccount #payment-cont #steps .step {
        display: none; }
        /* line 88, ../../../web/scss/pages/_admin-myaccount.scss */
        #myaccount #payment-cont #steps .step#step1 {
          display: block; }
        /* line 89, ../../../web/scss/pages/_admin-myaccount.scss */
        #myaccount #payment-cont #steps .step h3 {
          background: #13478b;
          padding: 10px;
          color: #fff;
          font-size: 16px;
          text-align: left;
          font-weight: bold; }
        /* line 98, ../../../web/scss/pages/_admin-myaccount.scss */
        #myaccount #payment-cont #steps .step#step4 div {
          display: none; }
        /* line 103, ../../../web/scss/pages/_admin-myaccount.scss */
        #myaccount #payment-cont #steps .step#step5 .bank, #myaccount #payment-cont #steps .step#step5 .wire {
          display: none; }
        /* line 105, ../../../web/scss/pages/_admin-myaccount.scss */
        #myaccount #payment-cont #steps .step#step6 {
          text-align: center; }
          /* line 107, ../../../web/scss/pages/_admin-myaccount.scss */
          #myaccount #payment-cont #steps .step#step6 #payment_picture_proof_prev {
            max-height: 250px;
            margin-top: 10px; }
    /* line 114, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount #payment-cont.active {
      right: 0; }
  /* line 118, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount .user-avatar {
    text-align: center;
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    /* line 125, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount .user-avatar h3 {
      margin: 0; }
    /* line 128, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount .user-avatar img {
      margin: 10px; }
      /* line 130, ../../../web/scss/pages/_admin-myaccount.scss */
      #myaccount .user-avatar img.sponsor_avatar {
        width: 50%; }
    /* line 135, ../../../web/scss/pages/_admin-myaccount.scss */
    #myaccount .user-avatar .sponsor-info * {
      display: block; }
  /* line 140, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount #btn-submit {
    width: 80%;
    font-size: 30px;
    margin: 20px auto;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px; }

/* line 153, ../../../web/scss/pages/_admin-myaccount.scss */
#myaccount .contents {
  transition: all 0.7s linear;
  opacity: 0; }
  /* line 156, ../../../web/scss/pages/_admin-myaccount.scss */
  #myaccount .contents.active {
    opacity: 1; }

/* line 1, ../../../web/scss/pages/_admin-messages.scss */
#messages {
  margin: auto; }
  /* line 3, ../../../web/scss/pages/_admin-messages.scss */
  #messages ul {
    position: relative; }
  /* line 6, ../../../web/scss/pages/_admin-messages.scss */
  #messages #btn-compose-message {
    position: absolute;
    right: 0;
    top: 0; }
  /* line 12, ../../../web/scss/pages/_admin-messages.scss */
  #messages #compose_message_modal .modal-dialog {
    width: 350px; }

/* line 1, ../../../web/scss/pages/_admin-support.scss */
#support {
  width: 80%;
  height: 100%;
  margin: auto !important;
  position: relative !important; }
  /* line 7, ../../../web/scss/pages/_admin-support.scss */
  #support h4 {
    font-weight: 700;
    margin-bottom: 10px; }
  /* line 11, ../../../web/scss/pages/_admin-support.scss */
  #support p {
    margin-bottom: 30px; }
  /* line 14, ../../../web/scss/pages/_admin-support.scss */
  #support form {
    background: #fff;
    padding: 15px 30px;
    /* max-width: 470px; */
    margin-bottom: 20px; }
  /* line 20, ../../../web/scss/pages/_admin-support.scss */
  #support textarea.form-control {
    min-height: 200px; }

/* line 2, ../../../web/scss/pages/_admin-profile.scss */
#profile-wrapper #profile {
  background: #fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px #aaa;
  width: 70%;
  margin: 20px auto;
  padding: 20px; }
  /* line 10, ../../../web/scss/pages/_admin-profile.scss */
  #profile-wrapper #profile .top {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; }
    /* line 14, ../../../web/scss/pages/_admin-profile.scss */
    #profile-wrapper #profile .top #user-details img {
      width: 200px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      border: 5px solid #fff;
      box-shadow: 0px 1px 4px #333;
      margin-bottom: 20px; }
    /* line 23, ../../../web/scss/pages/_admin-profile.scss */
    #profile-wrapper #profile .top #network {
      margin-left: 20px;
      float: left; }
      /* line 26, ../../../web/scss/pages/_admin-profile.scss */
      #profile-wrapper #profile .top #network #user-name {
        margin-top: 0; }
      /* line 29, ../../../web/scss/pages/_admin-profile.scss */
      #profile-wrapper #profile .top #network hr {
        margin: 12px 0; }
      /* line 32, ../../../web/scss/pages/_admin-profile.scss */
      #profile-wrapper #profile .top #network .avatar {
        float: left;
        background: #fff;
        border: 1px solid #aaa;
        padding: 10px;
        margin-right: 10px; }
        /* line 38, ../../../web/scss/pages/_admin-profile.scss */
        #profile-wrapper #profile .top #network .avatar .ribbon {
          display: block;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 11px; }
  /* line 49, ../../../web/scss/pages/_admin-profile.scss */
  #profile-wrapper #profile .below .sidebar {
    border-right: 1px solid #ccc;
    float: left;
    width: 200px;
    margin-right: 20px; }
  /* line 55, ../../../web/scss/pages/_admin-profile.scss */
  #profile-wrapper #profile .below .content {
    float: left;
    width: 550px; }
    /* line 60, ../../../web/scss/pages/_admin-profile.scss */
    #profile-wrapper #profile .below .content #comments .comment .comment-meta {
      margin-bottom: 10px; }
      /* line 62, ../../../web/scss/pages/_admin-profile.scss */
      #profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-avatar {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        float: left; }
      /* line 68, ../../../web/scss/pages/_admin-profile.scss */
      #profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-name {
        font-weight: bold;
        margin-right: 30px; }
      /* line 72, ../../../web/scss/pages/_admin-profile.scss */
      #profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-date {
        color: #aaa;
        font-size: 13px; }
    /* line 77, ../../../web/scss/pages/_admin-profile.scss */
    #profile-wrapper #profile .below .content #comments .comment .comment-body {
      border-top: 1px solid #ccc;
      margin-left: 80px; }
      /* line 80, ../../../web/scss/pages/_admin-profile.scss */
      #profile-wrapper #profile .below .content #comments .comment .comment-body * {
        width: 100%; }

/* line 1, ../../../web/scss/pages/_admin-welcome.scss */
#welcome {
  text-align: center;
  background: no-repeat center 98px rgba(237, 233, 223, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 1; }
  /* line 10, ../../../web/scss/pages/_admin-welcome.scss */
  #welcome div {
    position: fixed;
    top: 130px;
    left: 50%;
    margin-left: -149px; }
    /* line 15, ../../../web/scss/pages/_admin-welcome.scss */
    #welcome div h1 {
      font-size: 50px;
      text-transform: uppercase;
      font-weight: bold; }

/* line 1, ../../../web/scss/partials/_admin-header.scss */
#header {
  background: #08a0d2;
  height: 98px;
  position: relative;
  z-index: 2; }
  /* line 7, ../../../web/scss/partials/_admin-header.scss */
  #header #branding {
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
    position: relative;
    float: left;
    border-bottom: 1px solid #4897ff;
    height: 100%; }
    /* line 15, ../../../web/scss/partials/_admin-header.scss */
    #header #branding .shadow {
      background: url("../img/logo-shadow.png") no-repeat;
      width: 250px;
      height: 17px;
      position: absolute;
      bottom: -17px;
      left: 0; }
    /* line 23, ../../../web/scss/partials/_admin-header.scss */
    #header #branding img#site-logo {
      max-width: 75px; }
  /* line 27, ../../../web/scss/partials/_admin-header.scss */
  #header .pull-right {
    height: 100%;
    color: #fff;
    font-size: 14px; }
    /* line 32, ../../../web/scss/partials/_admin-header.scss */
    #header .pull-right .slogan {
      font-size: 30px;
      margin-right: 185px; }
      /* line 36, ../../../web/scss/partials/_admin-header.scss */
      #header .pull-right .slogan i.fa {
        font-size: 12px;
        position: relative;
        top: -15px; }
    /* line 42, ../../../web/scss/partials/_admin-header.scss */
    #header .pull-right #avatar {
      display: inline-block;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      width: 59px;
      height: 59px;
      overflow: hidden;
      margin-right: 25px;
      transition: all 0.2s linear;
      border: 1px solid transparent; }
      /* line 51, ../../../web/scss/partials/_admin-header.scss */
      #header .pull-right #avatar:hover {
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.6); }
    /* line 55, ../../../web/scss/partials/_admin-header.scss */
    #header .pull-right #btn-logout {
      width: 84px;
      border-left: 1px solid #ac47b2;
      background: #f70042;
      height: 100%;
      margin-left: 23px;
      font-size: 35px;
      transition: all 0.2s linear;
      color: rgba(255, 255, 255, 0.5); }
      /* line 64, ../../../web/scss/partials/_admin-header.scss */
      #header .pull-right #btn-logout:hover {
        text-decoration: none;
        color: #fff; }

/* line 1, ../../../web/scss/partials/_admin-sidebar.scss */
#sidebar {
  width: 250px;
  float: left;
  background-color: #13478b;
  padding-top: 42px;
  position: relative;
  padding-bottom: 20px; }
  /* line 9, ../../../web/scss/partials/_admin-sidebar.scss */
  #sidebar .extension {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #13478b;
    z-index: 1; }
  /* line 18, ../../../web/scss/partials/_admin-sidebar.scss */
  #sidebar ul {
    padding: 0;
    position: relative;
    z-index: 2; }
  /* line 23, ../../../web/scss/partials/_admin-sidebar.scss */
  #sidebar li {
    list-style: none;
    padding: 0; }
    /* line 26, ../../../web/scss/partials/_admin-sidebar.scss */
    #sidebar li a {
      padding: 15px 20px;
      display: block;
      transition: all 0.2s linear;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      color: #88c7ff;
      font-size: 13px; }
      /* line 34, ../../../web/scss/partials/_admin-sidebar.scss */
      #sidebar li a:hover {
        background-color: #1a56a5;
        text-decoration: none;
        color: #fff; }
      /* line 39, ../../../web/scss/partials/_admin-sidebar.scss */
      #sidebar li a .fa {
        width: 30px;
        text-align: center;
        font-size: 21px;
        margin-right: 20px;
        margin-left: 15px; }

/* line 2, ../../../web/scss/_admin-scheme.scss */
body.acctype-1 #sidebar {
  background-color: #6ea524; }
  /* line 4, ../../../web/scss/_admin-scheme.scss */
  body.acctype-1 #sidebar .extension {
    background-color: #6ea524; }
  /* line 7, ../../../web/scss/_admin-scheme.scss */
  body.acctype-1 #sidebar a {
    color: #fff;
    text-shadow: 1px 1px 2px #333; }
    /* line 10, ../../../web/scss/_admin-scheme.scss */
    body.acctype-1 #sidebar a:hover {
      background-color: #5c960d; }
/* line 15, ../../../web/scss/_admin-scheme.scss */
body.acctype-1 .btn-primary {
  background-color: #6ea524;
  border-color: #5f9b0f; }

/* line 26, ../../../web/scss/_admin-scheme.scss */
body.acctype-3 #sidebar {
  background-color: #fff; }
  /* line 28, ../../../web/scss/_admin-scheme.scss */
  body.acctype-3 #sidebar .extension {
    background-color: #fff; }
  /* line 31, ../../../web/scss/_admin-scheme.scss */
  body.acctype-3 #sidebar a {
    color: #333;
    font-size: 14px; }
    /* line 34, ../../../web/scss/_admin-scheme.scss */
    body.acctype-3 #sidebar a:hover {
      background-color: #999;
      color: #fff; }
/* line 40, ../../../web/scss/_admin-scheme.scss */
body.acctype-3 .btn-primary {
  background-color: #6ea524;
  border-color: #5f9b0f; }

/* line 46, ../../../web/scss/_admin-scheme.scss */
body.acctype-4 #sidebar {
  background-color: #e3b60d; }
  /* line 48, ../../../web/scss/_admin-scheme.scss */
  body.acctype-4 #sidebar .extension {
    background-color: #e3b60d; }
  /* line 51, ../../../web/scss/_admin-scheme.scss */
  body.acctype-4 #sidebar a {
    color: #333; }
    /* line 53, ../../../web/scss/_admin-scheme.scss */
    body.acctype-4 #sidebar a:hover {
      background-color: #fff; }
/* line 58, ../../../web/scss/_admin-scheme.scss */
body.acctype-4 a {
  color: #333; }
/* line 62, ../../../web/scss/_admin-scheme.scss */
body.acctype-4 .user-avatar a {
  width: 80%;
  margin: auto;
  font-weight: bold; }
/* line 68, ../../../web/scss/_admin-scheme.scss */
body.acctype-4 .btn-primary {
  background-color: #e3b60d;
  border-color: #e3b60d; }
/* line 73, ../../../web/scss/_admin-scheme.scss */
body.acctype-4 #myaccount #main-buttons #btn-payment {
  background-color: #e3b60d;
  color: #333; }

/* line 77, ../../../web/scss/_admin-scheme.scss */
body.acctype-5 #sidebar {
  background-color: #08a0d2; }
  /* line 79, ../../../web/scss/_admin-scheme.scss */
  body.acctype-5 #sidebar .extension {
    background-color: #08a0d2; }
  /* line 82, ../../../web/scss/_admin-scheme.scss */
  body.acctype-5 #sidebar a {
    color: #333;
    font-size: 14px; }
    /* line 85, ../../../web/scss/_admin-scheme.scss */
    body.acctype-5 #sidebar a:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2); }
/* line 91, ../../../web/scss/_admin-scheme.scss */
body.acctype-5 .btn-primary {
  background-color: #08a0d2;
  border-color: #fff; }
/* line 96, ../../../web/scss/_admin-scheme.scss */
body.acctype-5 #myaccount #main-buttons #btn-payment {
  background-color: #e3b60d;
  color: #333; }
