@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
/* line 9, assets/_datepicker.scss */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}

/* line 22, assets/_datepicker.scss */
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

/* line 33, assets/_datepicker.scss */
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}

/* line 43, assets/_datepicker.scss */
.datepicker > div {
  display: none;
}

/* line 46, assets/_datepicker.scss */
.datepicker table {
  width: 100%;
  margin: 0;
}

/* line 50, assets/_datepicker.scss */
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 59, assets/_datepicker.scss */
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}

/* line 63, assets/_datepicker.scss */
.datepicker td.day.disabled {
  color: #eeeeee;
}

/* line 66, assets/_datepicker.scss */
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}

/* line 70, assets/_datepicker.scss */
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 90, assets/_datepicker.scss */
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* line 106, assets/_datepicker.scss */
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}

/* line 112, assets/_datepicker.scss */
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 124, assets/_datepicker.scss */
.datepicker td span:hover {
  background: #eeeeee;
}

/* line 127, assets/_datepicker.scss */
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 146, assets/_datepicker.scss */
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* line 156, assets/_datepicker.scss */
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}

/* line 160, assets/_datepicker.scss */
.datepicker td span.old {
  color: #999999;
}

/* line 163, assets/_datepicker.scss */
.datepicker th.switch {
  width: 145px;
}

/* line 166, assets/_datepicker.scss */
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}

/* line 170, assets/_datepicker.scss */
.datepicker thead tr:first-child th {
  cursor: pointer;
}

/* line 173, assets/_datepicker.scss */
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}

/* line 176, assets/_datepicker.scss */
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* line 1, assets/_front-generals.scss */
html, body {
  height: 100% !important;
  /* overflow:inherit !important; */
}

/* line 2, assets/_front-generals.scss */
body {
  background: #eeeeee url(../img/bg.jpg);
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 10, assets/_front-generals.scss */
.btn-toggle {
  float: left;
  background: #cfcfcf;
  width: 50%;
  max-width: 220px;
  height: 50px;
  font-size: 19px;
  color: #333;
}
/* line 18, assets/_front-generals.scss */
.btn-toggle.active {
  background: #fff;
  position: relative;
}
/* line 22, assets/_front-generals.scss */
.btn-toggle.active:first-child:after {
  content: ' ';
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  right: -11px;
  top: 0;
}
/* line 33, assets/_front-generals.scss */
.btn-toggle.active:last-child:before {
  content: ' ';
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  left: -11px;
  top: 0;
}
/* line 47, assets/_front-generals.scss */
.btn-toggle:hover {
  text-decoration: none;
}
/* line 50, assets/_front-generals.scss */
.btn-toggle .fa {
  margin-right: 12px;
}

/* line 54, assets/_front-generals.scss */
.Vcenter {
  position: relative;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -ms-box;
  -ms-box-pack: center;
  -ms-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
  text-align: center;
}

/* line 70, assets/_front-generals.scss */
.tcenter {
  text-align: center;
}

/* line 71, assets/_front-generals.scss */
.hero-full {
  background: #127E85;
  width: 100%;
  height: 100%;
}
/* line 75, assets/_front-generals.scss */
.hero-full h1 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 83, assets/_front-generals.scss */
.hero-full .sub-heading {
  font-size: 18px;
  letter-spacing: 0.5em;
}
/* line 88, assets/_front-generals.scss */
.hero-full #btn_get-started {
  top: 70px;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px 30px;
  text-transform: uppercase;
}

/* line 98, assets/_front-generals.scss */
.bg2 {
  background-color: #1abc9c;
  display: block;
}

/* line 102, assets/_front-generals.scss */
.modal-backdrop.in {
  opacity: .7;
}

/* line 103, assets/_front-generals.scss */
.modal {
  display: none;
}

/* line 104, assets/_front-generals.scss */
#loader_modal .modal-dialog {
  width: 70px;
  height: 100%;
}

/* line 108, assets/_front-generals.scss */
#loader_modal .modal-dialog img {
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}

/* line 117, assets/_front-generals.scss */
.tobehind {
  z-index: 10;
}

/* line 120, assets/_front-generals.scss */
form .form-group label {
  font-size: 18px;
  font-weight: normal;
}
/* line 124, assets/_front-generals.scss */
form .form-group input {
  border-radius: 0px;
  height: 40px;
}
/* line 129, assets/_front-generals.scss */
form input.btn {
  font-size: 18px;
  border-radius: 0px;
  padding: 6px 40px;
  color: #fff;
}

/* line 20, assets/_variables.scss */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 21, assets/_variables.scss */
.vcenter {
  display: flex;
  align-items: center;
}

/* line 1, pages/_join.scss */
.join-containers {
  position: relative;
  text-align: center;
  width: 993px;
  margin: 30px auto 20px;
  padding-bottom: 30px;
}
/* line 7, pages/_join.scss */
.join-containers .backbutton {
  text-align: left;
}
/* line 10, pages/_join.scss */
.join-containers .monitor {
  position: relative;
  background: url(../img/laptop.png) no-repeat;
  width: 993px;
  height: 572px;
  margin: auto;
}
/* line 16, pages/_join.scss */
.join-containers .monitor img, .join-containers .monitor iframe {
  position: relative;
  top: 41px;
  width: 640px;
  height: 402px;
}
/* line 22, pages/_join.scss */
.join-containers .monitor .shadow {
  background: url(../img/laptop-shine.png) no-repeat;
  position: absolute;
  top: 0;
  right: 140px;
  width: 256px;
  height: 452px;
  z-index: 2;
}
/* line 32, pages/_join.scss */
.join-containers .btn-primary {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 36px;
  color: #fff;
  height: 95px;
  width: 520px;
  transition: all 0.1s linear;
  background-color: #00cdda;
  box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -50px;
  font-weight: bold;
  left: 50%;
  margin-left: -260px;
}
/* line 46, pages/_join.scss */
.join-containers .btn-primary:hover {
  box-shadow: none;
  height: 85px;
}

/* line 53, pages/_join.scss */
#join-step-2 .buttons {
  position: absolute;
  left: 0;
  margin-top: 77px;
  z-index: 3;
}
/* line 58, pages/_join.scss */
#join-step-2 .buttons .btn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 10px;
  height: 100px;
  width: 100px;
  display: block;
  border: 5px solid;
  box-shadow: inset 5px -5px 21px rgba(0, 0, 0, 0.5);
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: #ddd;
  border-bottom-color: #ddd;
  transition: all 0.2s linear;
}
/* line 71, pages/_join.scss */
#join-step-2 .buttons .btn .fa {
  display: block;
  font-size: 39px;
  margin-top: 16px;
}
/* line 76, pages/_join.scss */
#join-step-2 .buttons .btn.active {
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
/* line 80, pages/_join.scss */
#join-step-2 .buttons .btn#btn-basic {
  background-color: #6ea524;
}
/* line 81, pages/_join.scss */
#join-step-2 .buttons .btn#btn-premier {
  background-color: #137e86;
}
/* line 82, pages/_join.scss */
#join-step-2 .buttons .btn#btn-investor {
  background-color: #e3b60d;
}
/* line 83, pages/_join.scss */
#join-step-2 .buttons .btn#btn-join {
  background-color: #08a0d2;
}
/* line 84, pages/_join.scss */
#join-step-2 .buttons .btn:hover {
  background-color: #efefef !important;
  box-shadow: none;
  border-color: #aaa;
  color: #aaa;
}

/* line 94, pages/_join.scss */
#join-step-3 {
  text-align: center;
}
/* line 96, pages/_join.scss */
#join-step-3 .form1 {
  position: relative;
  text-align: left;
  width: 400px;
  margin: auto;
  padding-bottom: 60px;
}
/* line 102, pages/_join.scss */
#join-step-3 .form1 .has-error {
  color: red;
}
/* line 105, pages/_join.scss */
#join-step-3 .form1 .has-error label small {
  position: absolute;
  right: 0;
}
/* line 111, pages/_join.scss */
#join-step-3 .form1 .btn-primary {
  left: initial;
  margin: 0;
  width: 100%;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 66px;
  padding-top: 0;
}
/* line 120, pages/_join.scss */
#join-step-3 .form1 .btn-primary:hover {
  box-shadow: none;
  height: 56px;
  padding-top: 10px;
}

/* line 129, pages/_join.scss */
#join-wrapper {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

/* line 137, pages/_join.scss */
.join-containers {
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: all 0.5s linear;
  left: 50%;
}
/* line 143, pages/_join.scss */
.join-containers.active {
  z-index: 1;
  opacity: 1;
}
/* line 147, pages/_join.scss */
.join-containers.inactive {
  opacity: 0;
  z-index: -1;
}

/* line 152, pages/_join.scss */
#join-step-1 {
  top: -200px;
  margin-left: -496px;
}
/* line 155, pages/_join.scss */
#join-step-1.active {
  top: 0px;
}

/* line 159, pages/_join.scss */
#join-step-2 {
  right: -200px;
  left: initial;
}
/* line 162, pages/_join.scss */
#join-step-2.active {
  right: 0px;
  position: relative;
}
/* line 166, pages/_join.scss */
#join-step-2.inactive {
  right: 200px;
}

/* line 170, pages/_join.scss */
#join-step-3 {
  top: 200px;
  left: 0;
}
/* line 173, pages/_join.scss */
#join-step-3.active {
  top: 100px;
  left: 0;
  position: relative;
  padding-bottom: 200px;
}
/* line 179, pages/_join.scss */
#join-step-3.inactive {
  left: -100px;
  top: 0;
}

/* .fp-table,.fp-tableCell{
	height: inherit !important;
}
#section1{
	min-height: 1000px;
} */
/* line 8, pages/_home.scss */
#about-us #founders {
  width: 900px;
  text-align: center;
  margin: 30px auto;
}
/* line 12, pages/_home.scss */
#about-us #founders .author h3, #about-us #founders .author h4, #about-us #founders .author p {
  text-align: left !important;
  padding: 0 !important;
}
/* line 16, pages/_home.scss */
#about-us #founders .author {
  margin-bottom: 40px;
}
/* line 18, pages/_home.scss */
#about-us #founders .author h4 {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 40px;
}
/* line 24, pages/_home.scss */
#about-us #founders .author .right h3, #about-us #founders .author .right h4, #about-us #founders .author .right p {
  text-align: right !important;
}
/* line 28, pages/_home.scss */
#about-us #founders .author * {
  color: #fff;
}
/* line 32, pages/_home.scss */
#about-us #founders img {
  width: 80%;
  border: 5px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 38, pages/_home.scss */
#about-us #mission_vision {
  text-align: justify;
  width: 1000px;
  margin: auto;
}
/* line 42, pages/_home.scss */
#about-us #mission_vision * {
  list-style: none;
  padding: 10px;
  color: #fff;
  text-align: left;
}
/* line 48, pages/_home.scss */
#about-us #mission_vision li {
  padding: 0;
  margin: 10px 0px;
  font-size: 16px;
}

/* line 55, pages/_home.scss */
#service {
  text-align: center;
}
/* line 57, pages/_home.scss */
#service .fa {
  font-size: 100px;
}

/* line 62, pages/_home.scss */
.hero-full h1 {
  margin-top: -25px;
}
/* line 65, pages/_home.scss */
.hero-full img.img-circle {
  width: 185px;
  height: 180px;
  margin-top: -25px;
  margin-bottom: 30px;
}
/* line 71, pages/_home.scss */
.hero-full #menu {
  display: none;
  padding: 0px;
}
/* line 75, pages/_home.scss */
.hero-full #menu li {
  list-style: none;
  display: inline-block;
}
/* line 79, pages/_home.scss */
.hero-full #menu img {
  display: none;
}
/* line 82, pages/_home.scss */
.hero-full #menu.has-skin {
  -webkit-transition: background-color 300ms ease-out 0.1s;
  -moz-transition: background-color 300ms ease-out 0.1s;
  -o-transition: background-color 300ms ease-out 0.1s;
  transition: background-color 300ms ease-out 0.1s;
  background: rgba(225, 225, 225, 0.9);
  position: fixed !important;
  top: 0px !important;
  margin: 0px;
  z-index: 100;
}
/* line 94, pages/_home.scss */
.hero-full #menu.has-skin li {
  padding: 20px 10px;
}
/* line 97, pages/_home.scss */
.hero-full #menu.has-skin a {
  color: #000;
  font-size: 17px;
  padding: 20px 10px;
}
/* line 102, pages/_home.scss */
.hero-full #menu.has-skin img {
  display: block;
  max-width: 75px;
  position: absolute;
  left: 0px;
  margin-left: 10px;
}
/* line 111, pages/_home.scss */
.hero-full #btn_get-started, .hero-full .menu {
  position: absolute !important;
  top: 50% !important;
  margin-top: 235px;
}
/* line 116, pages/_home.scss */
.hero-full #btn_get-started {
  margin-left: -105px;
}
/* line 119, pages/_home.scss */
.hero-full .btn {
  font-size: 18px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin: 0px 10px;
}
/* line 126, pages/_home.scss */
.hero-full .menu {
  left: 0px;
  right: 0px;
  margin-left: 0px;
}

/* line 132, pages/_home.scss */
.block:not(.hero-full) {
  /* WIDE DESKTOP */
}
/* line 133, pages/_home.scss */
.block:not(.hero-full) h1 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* line 138, pages/_home.scss */
.block:not(.hero-full).about-us, .block:not(.hero-full).opportunity, .block:not(.hero-full).investor, .block:not(.hero-full).support, .block:not(.hero-full).product {
  padding: 70px 0px;
}
/* line 141, pages/_home.scss */
.block:not(.hero-full).about-us p, .block:not(.hero-full).opportunity p, .block:not(.hero-full).investor p, .block:not(.hero-full).support p, .block:not(.hero-full).product p {
  text-align: center;
  font-size: 18px !important;
}
/* line 146, pages/_home.scss */
.block:not(.hero-full).about-us {
  background: #2980b9;
}
/* line 149, pages/_home.scss */
.block:not(.hero-full).about-us p, .block:not(.hero-full).about-us h1 {
  color: #fff;
}
/* line 150, pages/_home.scss */
.block:not(.hero-full).about-us p {
  line-height: 26px;
  /* color: #2e3644; */
}
/* line 156, pages/_home.scss */
.block:not(.hero-full).product .row {
  padding: 20px 0px;
  margin-bottom: 20px;
}
/* line 160, pages/_home.scss */
.block:not(.hero-full).product .col-md-12 {
  text-align: center;
}
/* line 163, pages/_home.scss */
.block:not(.hero-full).product .col-md-6 {
  text-align: left;
}
/* line 166, pages/_home.scss */
.block:not(.hero-full).product .col-md-6 p, .block:not(.hero-full).product .col-md-6 img {
  margin: 0px 35px;
  font-size: 16px !important;
}
/* line 168, pages/_home.scss */
.block:not(.hero-full).product .col-md-6:nth-child(2n+1) {
  text-align: right;
}
/* line 171, pages/_home.scss */
.block:not(.hero-full).product .col-md-6:nth-child(2n+1) p {
  padding-right: 0px;
}
/* line 175, pages/_home.scss */
.block:not(.hero-full).service {
  padding: 20px 0px 50px;
  background: #3498db;
}
/* line 179, pages/_home.scss */
.block:not(.hero-full).service p, .block:not(.hero-full).service h1, .block:not(.hero-full).service h4 {
  color: #fff;
}
/* line 181, pages/_home.scss */
.block:not(.hero-full).service h1 {
  margin: 70px 0px;
}
/* line 184, pages/_home.scss */
.block:not(.hero-full).service h4 {
  font-weight: bold;
}
/* line 187, pages/_home.scss */
.block:not(.hero-full).service img {
  /* width: 185px;
  height: 180px; */
  max-width: 125px;
}
/* line 192, pages/_home.scss */
.block:not(.hero-full).service p {
  font-size: 16px;
}
/* line 195, pages/_home.scss */
.block:not(.hero-full).service .wrap {
  max-width: 295px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  /* line 205, pages/_home.scss */
  .block:not(.hero-full).about-us p {
    padding: 0px 100px;
  }
  /* line 210, pages/_home.scss */
  .block:not(.hero-full).product .row {
    display: table;
  }
  /* line 213, pages/_home.scss */
  .block:not(.hero-full).product .col-md-6 {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  /* line 218, pages/_home.scss */
  .block:not(.hero-full).product .col-md-6 p {
    padding-right: 20%;
    text-align: left;
  }
  /* line 221, pages/_home.scss */
  .block:not(.hero-full).product .col-md-6:nth-child(2n+1) p {
    padding-left: 20%;
    text-align: right;
  }
}

/* line 228, pages/_home.scss */
#member_login .modal-dialog {
  width: 415px;
}
/* line 231, pages/_home.scss */
#member_login .modal-content {
  border-radius: 0px;
}

/* line 1, pages/investors.scss */
#investors {
  margin-top: 100px;
}
/* line 3, pages/investors.scss */
#investors .container {
  width: 1000px;
}
/* line 7, pages/investors.scss */
#investors .row img {
  height: 250px;
  width: 250px;
  border: 10px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 13, pages/investors.scss */
#investors .row .investor {
  text-align: center;
  margin-bottom: 100px;
}

/* line 1, pages/_legalities.scss */
#legalities {
  margin-top: 60px;
  text-align: center;
}

/* line 14, front-site.scss */
#footer {
  text-align: center;
  margin-bottom: 50px;
}
