#sidebar{
	width:250px;
	float: left;
	background-color: #13478b;
	padding-top: 42px;
	position: relative;
	padding-bottom: 20px;

	.extension{
		position: fixed;		
		top: 0;
		bottom: 0;
		width: 250px;
		background-color: #13478b;
		z-index: 1;
	}

	ul{
		padding: 0;
		position: relative;
		z-index: 2;
	}
	li{
		list-style: none;
		padding: 0;
		a{
			padding: 15px 20px;
			display: block;
			transition:all 0.2s linear;
			@include font-header();
			@include vcenter();
			color: #88c7ff;
			font-size:13px;
			&:hover{
				background-color: #1a56a5;
				text-decoration: none;
				color: #fff;
			}
			.fa{
				width: 30px;
				text-align: center;
				font-size: 21px;
				margin-right: 20px;
				margin-left: 15px;
			}
		}
	}
}